@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Roboto+Condensed&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    color: #383838;
    font-weight: 300;
    font-family: Roboto-Condensed, sans-serif;
}

#title {
    float: left;
    padding: 10px;
    font-family: Nunito, sans-serif;
}

#title a {
    text-decoration: none;
    color: inherit;
}

#nav-style {
    float: right;
}

#nav-style li {
    display: inline;
    float: left;
    margin-right: 20px;
    margin-top: 20px;
}

#nav-style a {
    text-decoration: none;
    color: inherit;
}

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
    background-color: #383838;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url("../images/BJJ-trainer-demonstrating-a-technique.webp") no-repeat center center;
    background-position: center;
}

#hero-text {
    font-family: Nunito, sans-serif;
    font-style: italic;
    color: white;
    background-color: rgba(54, 69, 79, 0.5);
    width: 200px;
    height: 100px;
    position: absolute;
    bottom: 30px;
    right: 150px;
    border-radius: 5px;
}

#hero-text-two {
    font-family: Nunito, sans-serif;
    font-style: italic;
    color: white;
    background-color: rgba(54, 69, 79, 0.5);
    width: 200px;
    height: 300px;
    position: absolute;
    top: 30px;
    left: 150px;
    border-radius: 5px;
}