@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Roboto+Condensed&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    color: #383838;
    font-weight: 300;
    font-family: Roboto-Condensed, sans-serif;
}

/* title and navigation bar styling */

#menu-section {
    height: 200px;
    width: 100%;
    background-color: #f9f6ee;
}

#title {
    float: left;
    padding: 10px;
    font-family: Nunito, sans-serif;
}

#tag-line {
    margin-left: 2%;
    font-family: Nunito, sans-serif;
    float: left;
    width: 200px;
    height: 80px;
    text-align: left;
    position: absolute;
    top: 70px;
}

#logo {
    margin-right: auto;
    float: right;
    position: absolute;
    top: 60px;
    right: 20px;
}

#logo img {
    width: 300px;
    height: 100px;
}

#title a {
    text-decoration: none;
    color: inherit;
}

#nav-style {
    float: right;
}

#nav-style li {
    display: inline;
    float: left;
    margin-right: 20px;
    margin-top: 20px;
}

#nav-style a {
    text-decoration: none;
    color: inherit;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* hero image and quotes */

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
    background-color: #4682b4;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url("../images/bjj-class.jpg") no-repeat center center;
    background-position: center;
}

#hero-text-one {
    font-family: Nunito, sans-serif;
    color: white;
    background-color: rgba(54, 69, 79, 0.5);
    width: 250px;
    height: 80px;
    position: absolute;
    top: 30px;
    left: 50px;
    border-radius: 5px;
}

#hero-text-two {
    font-family: Nunito, sans-serif;
    color: white;
    background-color: rgba(54, 69, 79, 0.5);
    width: 250px;
    height: 235px;
    position: absolute;
    bottom: 30px;
    right: 50px;
    border-radius: 5px;
}

/* benefits section styling */

#benefits-section {
    height: 500px;
    width: 100%;
    overflow: hidden;
    background-color: #702963;
    color: #fff5ee;
    margin: 0 auto;
}

#benefits-title {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 20px;
}

hr {
    border-top: 1px solid white;
    margin: 5px 0;
}

.strength {
    font-family: Nunito, sans-serif;
    color: white;
    text-align: justify;
    width: 30%;
    height: 150px;
    border-radius: 5px;
    padding: 20px;
    float: left;
}

.self-defence {
    font-family: Nunito, sans-serif;
    color: white;
    text-align: justify;
    width: 30%;
    height: 150px;
    border-radius: 5px;
    padding: 20px;
    float: right;
}

.community {
    font-family: Nunito, sans-serif;
    color: white;
    text-align: justify;
    width: 30%;
    height: 150px;
    border-radius: 5px;
    padding: 20px;
    float: right;
    position: relative;
}

.problem-solving {
    font-family: Nunito, sans-serif;
    color: white;
    text-align: justify;
    width: 30%;
    height: 150px;
    border-radius: 5px;
    padding: 20px;
    position: relative;
}