@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Roboto+Condensed&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    color: #383838;
    font-weight: 300;
    font-family: Nunito, sans-serif;
}

/* title and navigation bar styling */

.header-section {
    height: 200px;
    width: 100%;
    background-color: #f9f6ee;
}

.header-section_title {
    float: left;
    padding: 10px;
}

.header-section_title a {
    text-decoration: none;
    color: inherit;
}

.header-section_tag-line {
    padding: 10px 0 10px 30px;
    width: 200px;
    height: 10px;
    text-align: left;
    position: absolute;
    top: 70px;
}
.header-section_nav {
    float: right;
}

.header-section_nav li {
    display: inline;
    float: left;
    margin-right: 20px;
    margin-top: 20px;
}

.header-section_nav a {
    text-decoration: none;
    color: inherit;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

.header-section_logo {
    margin-right: auto;
    text-align: right;
    position: absolute;
    top: 60px;
    right: 20px;
}

.header-section_logo img {
    width: 300px;
    height: 100px;
}

/* motivation section */

.motivation-section {
    height: 600px;
    width: 100%;
    overflow: hidden;
    background-color: #4682b4;
    color: #fff5ee;
    margin: 0 auto;
}

.motivation-section_title {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 20px;
}

.motivation-section_video {
    text-align: center;
    padding: 40px;
}

.motivation-section_video iframe {
    height: 400px;
    width: 80%;
}

/* benefits section styling */

.benefits-section {
    height: 600px;
    width: 100%;
    overflow: hidden;
    background-color: #702963;
    color: #fff5ee;
    margin: 0 auto;
}

.benefits-section_title {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 20px;
}

.benefits-section hr {
    border-top: 1px solid white;
    margin: 5px 0;
}

.benefits-section_problem-solving-benefit {
    font-family: Nunito, sans-serif;
    color: white;
    text-align: justify;
    width: 30%;
    height: 150px;
    border-radius: 5px;
    padding: 20px;
    float: left;
    position: relative;
    top: 80px;
}

.benefits-section_self-defence-benefit {
    font-family: Nunito, sans-serif;
    color: white;
    text-align: justify;
    width: 30%;
    height: 150px;
    border-radius: 5px;
    padding: 20px;
    float: right;
    position: relative;
    top: 80px;
}

.benefits-section_community-benefit {
    font-family: Nunito, sans-serif;
    color: white;
    text-align: justify;
    width: 30%;
    height: 150px;
    border-radius: 5px;
    padding: 20px;
    margin: 0 auto;
    position: relative;
}

.benefits-section_strength-benefit {
    font-family: Nunito, sans-serif;
    color: white;
    text-align: justify;
    width: 30%;
    height: 150px;
    border-radius: 5px;
    padding: 20px;
    margin: 0 auto;
    position: relative;
    top: 150px;
}

/* hero image and quotes */

.hero-section {
    height: 600px;
    width: 100%;
    overflow: hidden;
    background-color: #80461b;
    margin: 0 auto;
    padding: 10px 0 10px 0;
}

.hero-section_image {
    height: 600px;
    width: 100%;
    background: url("../images/bjj-class.jpg") no-repeat center center;
    background-position: center;
}
.hero-section_text-one {
    font-family: Nunito, sans-serif;
    color: white;
    background-color: rgba(54, 69, 79, 0.5);
    width: 250px;
    height: 80px;
    border-radius: 5px;
    float: left;
    position: relative;
    left: 100px;
    top: 250px;
}

.hero-section_text-two {
    font-family: Nunito, sans-serif;
    color: white;
    background-color: rgba(54, 69, 79, 0.5);
    width: 250px;
    height: 235px;
    border-radius: 5px;
    float: right;
    position: relative;
    right: 100px;
    top: 200px;
}


/* footer and club information at a glance */

.clubs-footer {
    height: 200px;
    width: 100%;
    background-color: #202020;
    color: #fff5ee;
}

.clubs-footer_title {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 20px;
}

.clubs-footer_clubs {
    margin: 0 auto;
    text-align: center;
    padding: 10px;
}

.clubs-footer_club {
    height: 50px;
    width: 30%;
    clear: both;
    display: inline-block;
}

.clubs-footer_clubs i {
    color: white;
    clear: both;
    font-size: 120%;
    padding: 5px;
}

.clubs-footer_clubs i:hover {
    color: grey;
    border-bottom: 1px solid white;
}

.clubs-footer_copyright {
    text-align: center;
    font-size: 60%;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 20px;
}

/* clubs page */

.clubs-page_blue {
    height: 400px;
    width: 100%;
    background-color: #4682b4;
    color: white;
    margin: 0 auto;
    text-align: justify;
}

.clubs-page_purple {
    height: 400px;
    width: 100%;
    background-color: #702963;
    color: #fff5ee;
    margin: 0 auto;
    text-align: justify;
}

.clubs-page_brown {
    height: 400px;
    width: 100%;
    background-color: #80461b;
    color: #fff5ee;
    margin: 0 auto;
    text-align: justify;
}

.clubs-page_title {
    margin-left: 2.5%;
    padding-top: 10px;
}

.clubs-page_about {
    margin-left: 10%;
    margin-right: 20%;
    padding: 20px 0;
}

.clubs-page_about i {
    position: relative;
    font-size: 200%;
    right: 100px;
    top: 50px;
}

.clubs-page_contact {
    margin-left: 10%;
    margin-right: 20%;
    padding: 20px 0;
}

.clubs-page_contact-icon {
    position: relative;
    font-size: 200%;
    right: 100px;
    top: 50px;
}

.clubs-page_contact-links i {
    color: white;
    clear: both;
    font-size: 120%;
    padding: 5px;
}

.clubs-page_contact-links i:hover {
    color: grey;
    border-bottom: 1px solid white;
}

/* history page */

.history-page_blue {
    height: 600px;
    width: 100%;
    background-color: #4682b4;
    color: white;
    margin: 0 auto;
    padding: 20px 0 20px 0;
}

.history-page_background {
    height: 600px;
    width: 100%;
    background: url("../images/gracie-family.jpg") no-repeat center center;
    background-position: center;
}

.history-page_blue-story {
    width: 75%;
    height: 600px;
    text-align: justify;
    background-color: rgba(54, 69, 79, 0.7);
    border-radius: 5px;
    float: left;
    position: relative;
    margin-left: 12%;
    margin-right: 12%;
    display: block;
}
.history-page_blue-story h1 {
    text-align: center;
}

.history-page_blue-story p {
    padding: 5px;
}

.history-page_blue-story hr {
    padding: 20px;
}

/* inquiries page */

.query-section_blue {
    height: 200px;
    width: 100%;
    background-color: #4682b4;
    margin: 0 auto;
    color: white;
    text-align: center;
}

.query-section_blue_title {
    padding: 50px 0;
    text-transform: uppercase;
    font-size: 150%;
}

.query-section_purple {
    height: 300px;
    width: 100%;
    background-color: #702963;
    color: #fff5ee;
    margin: 0 auto;
    overflow: visible;
}

.query-section_brown {
    height: 300px;
    width: 100%;
    background-color: #80461b;
    color: #fff5ee;
    margin: 0 auto;
}

.query-form {
    color: #fff;
    background-color: rgba(60, 60, 60, 0.6);
    position: absolute;
    left: 30%;
    right: 30%;
    padding: 30px;
}

.query-section_form_text {
    background: transparent;
    color: #fafafa;
    width: 100%;
    border: 1px solid #fafafa;
    border-radius: 2px;
}

.query-form select {
    background: transparent;
    color: #fafafa;
    width: 100%;
    border: 1px solid #fafafa;
    border-radius: 2px;
}

.query-form option {
    color: black;
}

.query-form input:hover {
    border-color: #f16c6b;
}

.query-form textarea {
    background: transparent;
    color: #fafafa;
    width: 100%;
    border: 1px solid #fafafa;
    border-radius: 2px;
    resize: none;
}

.submit-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: #f16c6b;
    color: #fafafa;
    display: block;
}

.submit-button:hover {
    background-color: #fafafa;
    color: #f16c6b;
}
/* thank you page */

.thank-you {
    text-align: center;
    font-family: Nunito, sans-serif;
    background-color: rgba(54, 69, 79, 0.5);
}

.thank-you_title {
    padding: 10px 0;
    text-transform: uppercase;
    font-size: 150%;
}

.thank-you a {
    text-decoration: none;
    color: inherit;
}

.thank-you a:hover {
    color: grey;
    border-bottom: 1px solid white;
}